body {
}

h1 {
  text-align: center;
  margin: 0.5em;
}

.about {
  text-align: center;
}

#container {
  margin-top: 30px;
}

#input {
  width: 95%;
  padding: 5px;
  height: 150px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#basic_graph {
  height: 250px;
}
